<header class="container-header">
    <div class="header-navigation">
        <div class="header-left">
            <img class="company-icon" src="./mountain-logo.svg" width="137px" height="72px">
            <span class="company-name fs-18">{{ companyName }}</span>
        </div>
        <nav class="header-right-navigation fs-18">
            @for(navigation of navigations; track navigation.id) {
                <a [routerLink]="navigation.link"
                    routerLinkActive="active-navigation-text"
                    [routerLinkActiveOptions]="{ exact: true }"
                    id="navigation-text"
                >{{ navigation.text }}</a>
            }
            <button id="request-consultation-btn" class="fs-16 fw-600" width="157px" height="44px">Консультация</button>
        </nav>
    </div>

    @if (!isClickerMode) {
        <div class="date-container">
            <span class="run-time">{{ date }}</span>
            <button (click)="isClickerMode = !isClickerMode" id="date-toggle-btn">Показать кликер</button>
        </div>
    }
    
    @if (isClickerMode) {
        <div class="count-container">
            <div class="counter-control">
                <button (click)="counter+=1" id="counter-plus" class="fs-20">+</button>
                <span class="count-zero fs-20">{{ counter }}</span>
                <button (click)="counter -=1" [disabled]="counter === 0" id="counter-minus" class="fs-20">-</button>
            </div>
            <button (click)="isClickerMode = !isClickerMode" id="count-toggle-btn">Показать дату</button>
        </div>
    }
</header>