@use '../../assets/mixins.scss' as *;

.container-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 140px;
    width: 1470px;
    background-color: #18121E80;
}

.header-left {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.header-right-navigation {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 250px;
}

.navigation-text {
    color: royalblue;
    text-decoration: none;
}

.active-navigation-text {
    color: var(--white-color);
    text-decoration: none;
}

.company-icon {
    width: 137px;
    height: 48px;
}

.company-name {
    letter-spacing: 6px;
    color: var(--white-color);
}

#request-consultation-btn {
    @include button();
    background-color: var(--white-color);
    color: var(--green-color);
    width: 157px;
    height: 44px;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 145px 0 0;
}

.count-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 10px 150px 0 0;
}

.count-div {
    display: flex;
    width: 70px;
    justify-content: space-around;
    margin: 13px 40px 0 0;
}

.counter-control {
    margin: 10px 0 0 0;
}

#counter-plus,
.count-zero,
#counter-minus {
    background: none;
    border: none;
    margin: 0 20px 0 0;
    color: var(--white-color);
    cursor: pointer;
}

.run-time {
    margin: 12px 40px 0 0;
    color: var(--white-color);
}

#date-toggle-btn,
#count-toggle-btn {
    @include button();
    color: var(--green-color);
    background-color: var(--white-color);
    width: 158px;
    height: 40px;
    cursor: pointer;
}