<footer class="sub-footer">
  <div class="sub-footer-left">
    <span class="sub-title">{{ 'preFooter.subTitle' | translate }}</span>
    <h2 class="news-title">{{ 'preFooter.newsTitle' | translate }}</h2>
  </div>
  <div class="sub-footer-right">
    <span class="email-prompt fw-700 fs-16">{{ 'preFooter.emailPrompt' | translate }}</span>
    <div class="subscription-form">
      <input id="email-input" placeholder="name@domain.com" type="email" />
      <button id="subscribe-news-btn">{{ 'button.subscribeNews' | translate }}</button>
    </div>
    <p class="privacy-policy fs-14 fw-400">
      {{ 'preFooter.privacyPolicy' | translate }}
    </p>
    <p class="personal-data-policy fs-14 fw-400">
      {{ 'preFooter.personalDataPolicy' | translate }}
    </p>
  </div>
</footer>

<footer class="footer-support">
  <div class="footer-social-media">
    <span class="company-footer fw-700 fs-20">{{ 'footer.companyFooter' | translate }}</span>
    <p class="description-footer fs-14 fw-400">
      {{ 'footer.descriptionFooter' | translate }}
    </p>
    <div class="feedback-content">
      <a href="mailto:info@domain.com" id="email-feedback" class="fw-600 fs-14">info@domain.com</a>
      <a href="tel:+71234567890" id="phone-number-feedback" class="fw-600 fs-14">
        {{ 'footer.phoneNumber' | translate }}</a
      >
    </div>
    <div id="social-icons-group">
      <img src="/footer-icons/telegram-icon.svg" width="27px" height="27px" alt="" />
      <img src="/footer-icons/vkontact-icon.svg" width="27px" height="27px" alt="" />
      <img src="/footer-icons/pinterest-icon.svg" width="27px" height="27px" alt="" />
      <img src="/footer-icons/skype-icon.svg" width="27px" height="27px" alt="" />
    </div>
  </div>
  <div class="footer-service">
    <span class="service-title fw-700 fs-20">{{ 'footer.serviceTitle' | translate }}</span>
    <ul class="footer-service-item">
      <li id="summer-mountains">
        {{ 'footer.typeServices.summerMountains' | translate }}
      </li>
      <li>
        {{ 'footer.typeServices.winterHikes' | translate }}
      </li>
      <li>{{ 'footer.typeServices.templesVisit' | translate }}</li>
      <li>{{ 'footer.typeServices.templeExtremeType' | translate }}</li>
      <li>{{ 'footer.typeServices.amazoniaHikes' | translate }}</li>
      <li>{{ 'footer.typeServices.africaTrip' | translate }}</li>
    </ul>
  </div>
  <div class="footer-service">
    <span class="travel-essentials fw-700 fs-20">{{ 'footer.importantForTrip' | translate }}</span>
    <ul class="footer-service-item">
      <li id="long-hike-guide">{{ 'footer.prepareService.longHikeGuide' | translate }}</li>
      <li>{{ 'footer.prepareService.vitalItem' | translate }}</li>
      <li>{{ 'footer.prepareService.healthInsurance' | translate }}</li>
      <li>{{ 'footer.prepareService.isDoctor' | translate }}</li>
    </ul>
  </div>
</footer>
<footer class="footer-bottom">
  <span class="footer-bottom__copyright fs-14 fw-600">
    {{ 'sub-footer.footerBottomLink' | translate }}
  </span>
  <a id="footer-bottom-link" class="fs-14 fw-400">{{
    'sub-footer.footerBottomCopyright' | translate
  }}</a>
</footer>
