<footer class="sub-footer">
    <div class="sub-footer-left">
        <span class="sub-title">актуально</span>
        <h2 class="news-title">Получайте полезные рассылки о путешествиях</h2>
    </div>
    <div class="sub-footer-right">
        <span class="email-prompt fw-700 fs-16">Введите e-mail адрес</span>
        <div class="subscription-form">
            <input id="email-input" placeholder="name@domain.com" type="email">
            <button id="subscribe-news-btn">Подписаться на новости</button>
        </div>
        <p class="privacy-policy fs-14 fw-400">подписываясь на новости, вы автоматически соглашаетесь
        <a id="privacy-policy-link">с условиями обработки персональных данных и правилами рекламных рассылок</a>
        </p>
    </div>
</footer>

<footer class="footer-support">
    <div class="footer-social-media">
        <span class="company-footer fw-700 fs-20">Компания «РумТибет»</span>
        <p class="description-footer fs-14 fw-400">
            Его корни уходят в один фрагмент классической латыни 45 года н.э., 
            то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney.
        </p>
        <div class="feedback-content">
            <a href="mailto:info@domain.com" id="email-feedback" class="fw-600 fs-14">info@domain.com</a>
            <a href="tel:+71234567890" id="phone-number-feedback" class="fw-600 fs-14">+7 (123) 456-78-90</a>
        </div>
        <div id="social-icons-group">
            <img src="/footer-icons/telegram-icon.svg" width="27px" height="27px">
            <img src="/footer-icons/vkontact-icon.svg" width="27px" height="27px">
            <img src="/footer-icons/pinterest-icon.svg" width="27px" height="27px">
            <img src="/footer-icons/skype-icon.svg" width="27px" height="27px">
        </div>
    </div>
    <div class="footer-service">
        <span class="service-title fw-700 fs-20">Наши услуги</span>
        <nav class="footer-service-item">
            <a id="summer-mountains">Прогулки в горы летом</a>
            <a>Зимние походы в горы</a>
            <a>Посещение храмов в горах</a>
            <a>Экстремальные виды туризма</a>
            <a>Походы в джунглях Амазонии</a>
            <a>Поездка в Африку</a>
        </nav>
    </div>
    <div class="footer-service">
        <span class="travel-essentials fw-700 fs-20">Важно для путешествий</span>
        <nav class="footer-service-item">
            <a id="long-hike-guide">Как собрать в долгий поход?</a>
            <a>Жизненно важные предметы для <span class="link-accent">похода</span></a>
            <a>Медицинская страховка, гарантии <span class="link-accent">безопасности</span></a>
            <a>Если вы врач - загляните сюда</a>
        </nav>
    </div>
</footer>

<footer class="footer-bottom">
    <span class="footer-bottom__copyright fs-14 fw-600">ИП Константинопольский К.К., 2023</span>
    <a id="footer-bottom__link" class="fs-14 fw-400">Политика обработки персональных данных</a>
</footer>