<div class="container-user">
  <div class="user-list">
    <div class="user-card">
      <h1 class="registration-title">{{ 'userCreateSection.registrationTitle' | translate }}</h1>
      <form [formGroup]="userForm">
        <div class="create-user__field">
          <label for="name" class="create-user__label">{{
            'userCreateSection.createUserField.createUserName' | translate
          }}</label>
          <input
            [gradientConfiguration]="{ delay: 1000, colors: ['#ee7352', '#23d5ab'], thickness: 2 }"
            appGradient
            id="create-user__input"
            type="text"
            [placeholder]="'userCreateSection.createUserPlaceHolder.createUserName' | translate"
            formControlName="name"
          />
        </div>
        <div class="create-user__field">
          <label for="username" class="create-user__label">{{
            'userCreateSection.createUserField.createUserLogin' | translate
          }}</label>
          <input
            appGradient
            id="create-user__input"
            type="text"
            [placeholder]="'userCreateSection.createUserPlaceHolder.createUserLogin' | translate"
            formControlName="username"
          />
        </div>
        <div class="create-user__field">
          <label for="email" class="create-user__label">{{
            'userCreateSection.createUserField.createUserEmail' | translate
          }}</label>
          <input
            appGradient
            id="create-user__input"
            type="text"
            [placeholder]="'userCreateSection.createUserPlaceHolder.createUserEmail' | translate"
            formControlName="email"
          />
        </div>
        <div class="create-user__field">
          <label for="phone" class="create-user__label">{{
            'userCreateSection.createUserField.createUserPhone' | translate
          }}</label>
          <input
            appGradient
            id="create-user__input"
            type="text"
            [placeholder]="'userCreateSection.createUserPlaceHolder.createUserPhone' | translate"
            formControlName="phone"
          />
        </div>
        <div class="create-user__field">
          <label for="website" class="create-user__label">{{
            'userCreateSection.createUserField.createUserWeb' | translate
          }}</label>
          <input
            appGradient
            id="create-user__input"
            type="text"
            [placeholder]="'userCreateSection.createUserPlaceHolder.createUserWeb' | translate"
            formControlName="website"
          />
        </div>

        <div formGroupName="address">
          <div class="create-user__field">
            <label for="city" class="create-user__label">{{
              'userCreateSection.createUserField.createUserTown' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="'userCreateSection.createUserPlaceHolder.createUserTown' | translate"
              formControlName="city"
            />
          </div>
          <div class="create-user__field">
            <label for="street" class="create-user__label">{{
              'userCreateSection.createUserField.createUserStreet' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="'userCreateSection.createUserPlaceHolder.createUserStreet' | translate"
              formControlName="street"
            />
          </div>
          <div class="create-user__field">
            <label for="suite" class="create-user__label">{{
              'userCreateSection.createUserField.createUserSuite' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="'userCreateSection.createUserPlaceHolder.createUserSuite' | translate"
              formControlName="suite"
            />
          </div>
          <div class="create-user__field">
            <label for="zipcode" class="create-user__label">{{
              'userCreateSection.createUserField.createUserZipcode' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="
                'userCreateSection.createUserPlaceHolder.createUserZipcode' | translate
              "
              formControlName="zipcode"
            />
          </div>

          <div formGroupName="geo">
            <div class="create-user__field">
              <label for="lat" class="create-user__label">{{
                'userCreateSection.createUserField.createUserСoordinates' | translate
              }}</label>
              <input
                appGradient
                id="create-user__input-adress"
                type="text"
                [placeholder]="'userCreateSection.createUserPlaceHolder.createUserLat' | translate"
                formControlName="lat"
              />
              <input
                appGradient
                for="lng"
                id="create-user__input-adress"
                type="text"
                [placeholder]="'userCreateSection.createUserPlaceHolder.createUserLng' | translate"
                formControlName="lng"
              />
            </div>
          </div>
        </div>

        <div formGroupName="company">
          <div class="create-user__field">
            <label for="companyName" class="create-user__label">{{
              'userCreateSection.createUserField.createUserCompany' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="
                'userCreateSection.createUserPlaceHolder.createUserCompany' | translate
              "
              formControlName="name"
            />
          </div>

          <div class="create-user__field">
            <label for="catchPhrase" class="create-user__label">{{
              'userCreateSection.createUserField.createUserCatchPhrase' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="
                'userCreateSection.createUserPlaceHolder.createUserCatchPhrase' | translate
              "
              formControlName="catchPhrase"
            />
          </div>

          <div class="create-user__field">
            <label for="companyBs" for="companyBs" class="create-user__label">{{
              'userCreateSection.createUserField.createUserCompanyBs' | translate
            }}</label>
            <input
              appGradient
              id="create-user__input"
              type="text"
              [placeholder]="
                'userCreateSection.createUserPlaceHolder.createUserCompanyBs' | translate
              "
              formControlName="companyBs"
            />
          </div>
        </div>
      </form>
      <button appHover (click)="onSubmit()" type="button" id="create-user__btn">
        {{ 'button.registerUser' | translate }}
      </button>
    </div>
  </div>
</div>
