@use '../assets/mixins.scss' as *;

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .loading-icon {
        animation: spin 1s linear infinite;
    }

    .loading-title {
        margin-left: 30px;
        color: var(--white-color);
    }
}

.container {
    display: block;
    background-image: url('/bg-mountains.jpg');
    width: 1470px;
    height: 985px;
    background-size: cover;

    .header {
        height: 140px;
        min-width: 1180px;
        margin: 0 auto;
        padding-top: 16px;
        background-color: #18121E80;

        &-right-navigation {
            display: flex;
            align-items: center;
            color: var(--white-color);
            gap: 24px;
            cursor: pointer;
        }

        &-left {
            display: flex;
            flex-direction: column;
        }
    }

    .header-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .company-icon {
        width: 137px;
        height: 48px;
        margin: 0 212px 0 0;
    }

    .company-name {
        letter-spacing: 6px;
        color: var(--white-color);
    }

    #request-consultation-btn {
        @include button();
        background-color: var(--white-color);
        color: var(--green-color);
        width: 157px;
        height: 44px;
        margin-left: 25px;
    }

    .date-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 10px 145px 0 0;
    }

    .count-container {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 10px 150px 0 0;
    }

    .count-div {
        display: flex;
        width: 70px;
        justify-content: space-around;
        margin: 13px 40px 0 0;
    }

    .counter-control {
        margin-top: 10px;
    }

    #counter-plus,
    .count-zero,
    #counter-minus {
        background: none;
        border: none;
        margin: 0 20px 0 0;
        color: var(--white-color);
        font-size: 20px;
        cursor: pointer;
    }

    .run-time {
        margin: 12px 40px 0 0;
        color: var(--white-color);
    }

    #date-toggle-btn,
    #count-toggle-btn {
        @include button();
        color: var(--green-color);
        background-color: var(--white-color);
        width: 158px;
        height: 40px;
        cursor: pointer;
    }

    .main-title {
        display: flex;
        padding: 423px 100px 21px 0;
        margin: 0 auto;
        width: 1080px;
        font-size: 50px;
        line-height: 150%;
        text-transform: uppercase;
        color: var(--white-color);
    }

    .sub-form {
        display: flex;
        gap: 24px;
    }

    .sub-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 1180px;
        height: 161px;
        backdrop-filter: blur(6px);
        border-radius: 10px;
        background-color: #FFFFFF33;
        backdrop-filter: blur(6px);
    }

    .search-select {
        display: flex;
        flex-direction: column;
    }

    #select-destination {
        appearance: none;
        padding-left: 16px;
        background-color: #FFFFFF33;
        width: 270px;
        height: 52px;
        color: var(--white-color);
        border-color: var(--white-color);
        border-radius: 8px;
    }

    .select-tour-date {
        padding: 0 25px 0 16px;
        appearance: none;
        width: 270px;
        height: 52px;
        border-color: var(--white-color);
        border-radius: 8px;
    }

    #select-tour-participants {
        padding: 0 20px 0 16px;
        appearance: none;
        background-color: #FFFFFF33;
        width: 270px;
        height: 52px;
        color: var(--white-color);
        border-color: var(--white-color);
        border-radius: 8px;
    }

    .pointer-icon-left {
        position: absolute;
        left: 265px;
        top: 41%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .pointer-icon-right {
        position: absolute;
        right: 273px;
        top: 41%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .calendar-icon {
        position: absolute;
        right: 570px;
        top: 36%;
    }

    #select-date {
        width: 270px;
        height: 51px;
        border: 1px solid var(--white-color);
        border-radius: 8px;
        background-color: #FFFFFF33;
        color: var(--white-color);
        padding-left: 16px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    .sub-select {
        display: block;
        line-height: 150%;
        color: var(--white-color);
        padding-left: 4px;
        margin-top: 8px;
    }

    #search-program-btn {
        width: 213px;
        height: 53px;
        background-color: var(--white-color) !important;
        color: var(--green-color) !important;
        transition: all 0.7s ease;
        @include button();
        
        &:disabled {
            background-color: var(--green-color) !important;
            color: var(--white-color) !important;
        }
    }

    .input-container {
        display: flex;
        flex-direction: row;
        margin: 15px 0 0 150px;
        height: 52px;
        width: 454px;
    }

    #input-text {
        height: 25px;
        width: 244px;
        color: transparent;
    }

    .text {
        color: var(--white-color);
        margin: 5px 0 0 40px;
    }
}

.container-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin: 100px 200px 100px 150px;

    .description-content-left {
        position: relative;
        width: 480px;
        height: 526px;
    }

    .snow-mountain {
        position: relative;
        border-radius: 24px;
        z-index: -2;
    }

    .mountain-house {
        border-radius: 24px;
        position: absolute;
        z-index: -1;
        right: 10px;
        top: 126px;
    }

    #player-toggle {
        z-index: 1;
        position: absolute;
        top: 301px;
        right: 850px;
        left: 270px;
        cursor: pointer;
    }

    .history-journey {
        @include span();
    }

    .promo-description {
        @include offers();
        width: 580px;
        margin: 8px 0 40px 0;
    }

    .description-journey {
        @include description();
        width: 580px;
        height: 162px;
        margin-bottom: 40px;
    }

    #request-journey-btn {
        @include button();
        height: 52px;
        width: 200px;
    }
}

.container-offers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--gray-color);

    .offers-content-left {
        margin: 80px 90px 0 0;
    }

    .company-offers {
        @include span();
    }

    .best-offer {
        @include offers();
        margin: 8px 0 40px 0;
    }

    .description-offer {
        @include description();
        width: 580px;
        margin: 0 0 40px 0;
    }

    .active-offer-cards {
        display: flex;
        flex-direction: column;
        transition: all 0.7s ease;
        background-color: var(--green-color);
        color: var(--white-color);
        cursor: pointer;
        border-radius: 7px;

        .offer-title {
            margin-top: 10px;
            transition: all 0.7s ease;
            color: var(--yellow-color);
            text-align: center;
        }

        .offer-description {
            transition: all 1s ease;
            color: var(--yellow-color);
            padding-left: 5px;
            text-align: center;
        }

        .offer-icon {
            padding: 15px 0px 0 235px;
            transition: all 0.5s ease;
        }
    }

    .offer-cards {
        display: flex;
        flex-direction: row;
    }

    .offer-cards-icons {
        display: inline-block;
    }

    .offer-icon {
        margin-right: 16px;
        padding-top: 6px;
    }

    .offer-cards-content {
        margin-bottom: 40px
    }

    .offer-title {
        line-height: 20px;
        color: var(--black-color);
        margin: 0 0 4px 0;
    }

    .offer-description {
        line-height: 20px;
        color: #000000;
        width: 514px;
        margin-top: 0;
    }

    #program-price-btn {
        @include button();
        width: 236px;
        height: 52px;
        margin-top: 10px;
    }

    .offers-content-right {
        height: 400px;
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;
    }

    .river-coffe,
    .orange-stream {
        border-radius: 0 50px 0 50px;
        object-fit: cover;
    }

    .man-canyon,
    .man-snowmobile {
        object-fit: cover;
        border-radius: 50px 0 50px 0;
    }
}