@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/nunito-sans/NunitoSans.woff2') format('woff2');
    src: url('./fonts/nunito-sans/NunitoSans.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/nunito-sans/NunitoSans-Italic.woff2') format('woff2');
    src: url('./fonts/nunito-sans/NunitoSans-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}