@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/nunito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('./fonts/nunito-sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('ttf');
    font-weight: 100 900;
    font-style: italic;
}