@use './fonts';
@use './normalize.scss';

* {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --white-color: #FDFDFD;
    --green-color: #1A3E3E;
    --yellow-color: #F2BE22;
    --black-color: #18121E;
    --gray-color: #F3F5F4;
    --orange-color: #D4A373;
}

.fs-14 {
    font-size: 14px
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}