<div class="container-user">
  <div class="user-list">
    <div
      appGradient
      [gradientConfiguration]="{ delay: 1000, colors: ['#ee7352', '#23d5ab'], thickness: 2 }"
      class="user-card"
    >
      <div class="user-card__intro">
        <h2 class="user-card__name">{{ user.name | uppercase }}</h2>
        <span class="user-card__username fs-16 fw-700">{{ user.username | uppercase }}</span>
      </div>

      <div class="user-card__header">
        <div class="user-card__section">
          <span class="user-card__title-text">{{
            'userCardSection.userCardTitleText.contact' | translate
          }}</span>
          <div class="user-card__line"></div>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{ 'userCardSection.userCardKey.email' | translate }}</span>
          <span class="user-card__value">{{ user.email }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.phoneNumber' | translate
          }}</span>
          <span class="user-card__value text-dark">{{ user.phone | phone: 'masked' }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.webSite' | translate
          }}</span>
          <span class="user-card__value">{{ user.website || 'Неизвестно' }}</span>
        </div>
        <div class="user-card__section">
          <span class="user-card__title-text">{{
            'userCardSection.userCardTitleText.street' | translate
          }}</span>
          <div class="user-card__line"></div>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{ 'userCardSection.userCardKey.town' | translate }}</span>
          <span class="user-card__value text-dark">{{ user.address.city }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{ 'userCardSection.userCardKey.street' | translate }}</span>
          <span class="user-card__value text-dark">{{ user.address.street }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{ 'userCardSection.userCardKey.office' | translate }}</span>
          <span class="user-card__value text-dark">{{ user.address.suite || 'Неизвестно' }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.zipcode' | translate
          }}</span>
          <span class="user-card__value text-dark">{{ user.address.zipcode }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.coordinate' | translate
          }}</span>
          <div class="user-card__buttons">
            <button class="user-card__value text-btn">{{ user.address.geo.lat }}</button>
            <button class="user-card__value text-btn">{{ user.address.geo.lng }}</button>
          </div>
        </div>
        <div class="user-card__section">
          <span class="user-card__title-text">{{
            'userCardSection.userCardTitleText.workPlace' | translate
          }}</span>
          <div class="user-card__line"></div>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.company' | translate
          }}</span>
          <span class="user-card__value text-dark">{{ user.company.name }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.mission' | translate
          }}</span>
          <span class="user-card__value text-gray">{{
            user.company.catchPhrase || 'Неизвестно'
          }}</span>
        </div>
        <div class="user-card__wrapper">
          <span class="user-card__key">{{
            'userCardSection.userCardKey.specialization' | translate
          }}</span>
          <span class="user-card__value text-dark">{{ user.company.bs || 'Неизвестно' }}</span>
        </div>
        <div>
          <button appHover id="delete-user-btn" (click)="onUserDelete()" class="fs-14 fw-500">
            {{ 'button.deleteUser' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
