.container-user {
    background-color: var(--gray-color);
    padding: 0 0 0 0;

    .user-title {
        font-size: 48px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        color: var(--green-color);
    }

    .user-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .user-card {
        width: 440px;
        height: 620px;
        background-color: #FFFFFF;
        border-top: 5px solid var(--orange-color);
        border-radius: 4px;
    }

    .user-card__intro {
        margin-bottom: 20px;
    }

    .user-card__name {
        margin: 35px 30px 5px 30px;
        color: var(--green-color);
        font-weight: 800;
        font-size: 26px;
    }

    .user-card__username {
        margin: 0 30px 0 30px;
        color: var(--orange-color)
    }

    .user-card__title-text {
        font-weight: 800;
        font-size: 12px;
        color: var(--green-color);
        font-style: ExtraBold;
        line-height: 13.8px;
        letter-spacing: 1.2px;
        vertical-align: middle;
        margin-left: 30px;
    }

    .user-card__header {
        display: flex;
        flex-direction: column;
    }

    .user-card__section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 12px 0;
    }

    .user-card__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    .user-card__line {
        margin-right: 25px;
        flex-grow: 0.95;
        height: 1px;
        background-color: #E2E8F0;
    }

    .user-card__key {
        font-weight: 400;
        font-size: 14px;
        color: #667C7C;
        margin-left: 30px;
    }

    .user-card__value {
        font-weight: 700;
        font-size: 14px;
        color: var(--orange-color);
        margin-right: 30px;
    }

    .text-dark {
        color: var(--green-color);
    }

    .text-btn {
        left: 40px;
        width: 77px;
        height: 20px;
        border-radius: 3px;
        font-size: 11.8px;
        color: var(--green-color);
        border-color: #E2E8F0 ;
        background-color: #F4F7F5 solid;
        margin-right: 20px;
    }

    .text-gray {
        width: 189px;
        font-family: Nunito Sans;
        font-weight: 700;
        font-style: Italic;
        font-size: 13px;
        line-height: 18.2px;
        letter-spacing: 0%;
        text-align: right;
        vertical-align: middle;
        color: #667C7C;
    }

    .error-message {
        margin: 0 0 200px 420px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #B15757;
        color: #FFFFFF;
        width: 558px;
        height: 105px;
    }

    #delete-user-btn {
        cursor: pointer;
        margin: 0 0 0 30px;
        height: 44px;
        width: 175px;
        color: var(--gray-color);
        border: none;
        border-radius: 4px;
        background-color: var(--green-color);
    }
}