<!-- <div class="card">
    <p-table [value]="posts" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>title</th>
                <th>tags</th>
                <th>views</th>
            </tr>
        </ng-template>
        <ng-template #body let-postService>
            <tr>
                <td>{{ postService.title }}</td>
                <td>{{ postService.tags }}</td>
                <td>{{ postService.views }}</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->
